SUBSYSTEM=="video4linux", ACTION=="add", ATTRS{idVendor}=="32e4", ATTRS{idProduct}=="9210", RUN+="/bin/bash /opt/retropie/supplementary/sinden/sinden.sh backgrounded add_device '%E{DEVPATH}' '%E{DEVNAME}'"
SUBSYSTEM=="video4linux", ACTION=="remove", ATTRS{idVendor}=="32e4", ATTRS{idProduct}=="9210", RUN+="/bin/bash /opt/retropie/supplementary/sinden/sinden.sh remove_device '%E{DEVPATH}' '%E{DEVNAME}'"
