input_libretro_device_p1 = "1"

# Map grenade to pump

# Disable existing pump action mappings for primary lightgun
input_player2_gun_offscreen_shot_mbtn = "nul"

# Enable pump action as "a" joystick button
input_player1_a_mbtn = "2"
