<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Enable recoil -->
    <add key="IAgreeRecoilTermsInLicense" value="1"/>
    <add key="EnableRecoil" value="1"/>
    <!-- Tone down recoil a bit -->
    <add key="RecoilStrength" value="75"/>
    <add key="AutoRecoilStrength" value="65"/>
    <!-- Reduce jitter -->
    <add key="EnableAntiJitter" value="1"/>
    <add key="AntiJitterPercentage" value="1"/>
  </appSettings>
</configuration>

<!--
Key mappings:

0	n/a
1	n/a
2	n/a
3	n/a
4	n/a
5	n/a
6	n/a
7	left alt
8	0
9	1
10	2
11	3
12	4
13	5
14	6
15	7
16	8
17	9
18	A	(left shift)
19	B	(left shift)
20	C	(left shift)
21	D	(left shift)
22	E	(left shift)
23	F	(left shift)
24	G	(left shift)
25	H	(left shift)
26	I	(left shift)
27	J	(left shift)
28	K	(left shift)
29	L	(left shift)
30	M	(left shift)
31	N	(left shift)
32	O	(left shift)
33	P	(left shift)
34	Q	(left shift)
35	R	(left shift)
36	S	(left shift)
37	T	(left shift)
38	U	(left shift)
39	V	(left shift)
40	W	(left shift)
41	X	(left shift)
42	Y	(left shift)
43	Z	(left shift)
44	a
45	b
46	c
47	d
48	e
49	f
50	g
51	h
52	i
53	j
54	k
55	l
56	m
57	n
58	o
59	p
60	q
61	r
62	s
63	t
64	u
65	v
66	w
67	x
68	y
69	z
70	enter
71	space
72	escape
73	tab
74	up
75	down
76	left
77	right
78	+	(left shift)
79	,
80	-
81	.
82	f1
83	f2
84	f3
85	f4
86	f5
87	f6
88	f7
89	f8
90	f9
91	f10
92	f11
93	f12
-->
