<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SerialPortWrite" value="/dev/ttyACM0"/>

    <!-- Mouse Button 1 (left click) -->
    <add key="ButtonTrigger" value="1" />
    <!-- Mouse Button 3 (right click) -->
    <add key="ButtonPumpAction" value="3" />

    <!-- Set up to match Keyboard -->
    <add key="ButtonFrontLeft" value="67" /> <!-- a (x) -->
    <add key="ButtonRearLeft" value="69" /> <!-- b (z) -->
    <add key="ButtonFrontRight" value="70" /> <!-- start (enter) -->
    <add key="ButtonRearRight" value="71" /> <!-- select (space) -->
    <add key="ButtonUp" value="74" /> <!-- up (up) -->
    <add key="ButtonDown" value="75" /> <!-- down (down) -->
    <add key="ButtonLeft" value="76" /> <!-- left (left) -->
    <add key="ButtonRight" value="77" /> <!-- right (right) -->

    <!-- Match same as above, except trigger is Pump Action -->
    <add key="ButtonTriggerOffscreen" value="3" />
    <add key="ButtonPumpActionOffscreen" value="3" />
    <add key="ButtonFrontLeftOffscreen" value="67" />
    <add key="ButtonRearLeftOffscreen" value="69" />
    <add key="ButtonFrontRightOffscreen" value="70" />
    <add key="ButtonRearRightOffscreen" value="71" />
    <add key="ButtonUpOffscreen" value="74" />
    <add key="ButtonDownOffscreen" value="75" />
    <add key="ButtonLeftOffscreen" value="76" />
    <add key="ButtonRightOffscreen" value="77" />
  </appSettings>
</configuration>
