misc_safequit no
dir_rom /home/pi/RetroPie/roms/mame-advmame:/home/pi/RetroPie/roms/arcade:/home/pi/RetroPie/roms/arcade/-ALL-
input_map[p1_up] keyboard[0,up] or joystick_digital[2dc8_6101,1,1,1]
input_map[p1_down] keyboard[0,down] or joystick_digital[2dc8_6101,1,1,0]
input_map[p1_left] keyboard[0,left] or joystick_digital[2dc8_6101,1,0,1]
input_map[p1_right] keyboard[0,right] or joystick_digital[2dc8_6101,1,0,0]
input_map[p1_button1] keyboard[0,x] or joystick_button[2dc8_6101,a]
input_map[p1_button2] keyboard[0,z] or joystick_button[2dc8_6101,b]
input_map[p1_button3] keyboard[0,s] or joystick_button[2dc8_6101,x]
input_map[p1_button4] keyboard[0,a] or joystick_button[2dc8_6101,y]
input_map[p1_button5] keyboard[0,w] or joystick_button[2dc8_6101,tr]
input_map[p1_button6] keyboard[0,q] or joystick_button[2dc8_6101,tl]
input_map[p1_button7] keyboard[0,2] or joystick_button[2dc8_6101,tr2]
input_map[p1_button8] keyboard[0,1] or joystick_button[2dc8_6101,tl2]
input_map[p1_doubleright_up] joystick_digital[2dc8_6101,0,2,0] joystick_digital[2dc8_6101,0,3,1]
input_map[p1_doubleright_down] joystick_digital[2dc8_6101,0,3,0]
input_map[p1_doubleright_left] joystick_digital[2dc8_6101,0,2,1] joystick_digital[2dc8_6101,0,3,1]
input_map[p1_doubleright_right] joystick_digital[2dc8_6101,0,2,0]
input_map[p1_doubleleft_up] joystick_digital[2dc8_6101,0,1,1]
input_map[p1_doubleleft_down] joystick_digital[2dc8_6101,0,1,0]
input_map[p1_doubleleft_left] joystick_digital[2dc8_6101,0,0,1]
input_map[p1_doubleleft_right] joystick_digital[2dc8_6101,0,0,0]
input_map[p1_button9] keyboard[0,3]
input_map[p1_button10] keyboard[0,4]
input_map[p2_up] joystick_digital[045e_028e,1,1,1]
input_map[p2_down] joystick_digital[045e_028e,1,1,0]
input_map[p2_left] joystick_digital[045e_028e,1,0,1]
input_map[p2_right] joystick_digital[045e_028e,1,0,0]
input_map[p2_button1] joystick_button[045e_028e,a]
input_map[p2_button2] joystick_button[045e_028e,b]
input_map[p2_button3] joystick_button[045e_028e,x]
input_map[p2_button4] joystick_button[045e_028e,y]
input_map[p2_button5] joystick_button[045e_028e,tr]
input_map[p2_button6] joystick_button[045e_028e,tl]
input_map[p2_button7] joystick_button[045e_028e,select]
input_map[p2_button8] joystick_button[045e_028e,start]
input_map[coin1] keyboard[0,rshift] or joystick_button[2dc8_6101,select]
input_map[coin2] joystick_button[045e_028e,mode]
input_map[start1] keyboard[0,enter] or joystick_button[2dc8_6101,start]
input_map[start2] joystick_button[045e_028e,start]
input_map[ui_cancel] keyboard[0,esc] or keyboard[0,rshift] keyboard[0,enter] or joystick_button[2dc8_6101,select] joystick_button[2dc8_6101,start] or joystick_button[045e_028e,mode] joystick_button[045e_028e,start]
input_map[ui_configure] keyboard[0,rshift] keyboard[0,s] or joystick_button[2dc8_6101,select] joystick_button[2dc8_6101,x] or joystick_button[045e_028e,mode] joystick_button[045e_028e,y]
input_map[ui_down] keyboard[0,down] or joystick_digital[2dc8_6101,1,1,0] or joystick_digital[045e_028e,0,1,0]
input_map[ui_left] keyboard[0,left] or joystick_digital[2dc8_6101,1,0,1] or joystick_digital[045e_028e,0,0,1]
input_map[ui_reset_machine] keyboard[0,rshift] keyboard[0,z] or joystick_button[2dc8_6101,select] joystick_button[2dc8_6101,b] or joystick_button[045e_028e,mode] joystick_button[045e_028e,a]
input_map[ui_right] keyboard[0,right] or joystick_digital[2dc8_6101,1,0,0] or joystick_digital[045e_028e,0,0,0]
input_map[ui_select] keyboard[0,enter] or joystick_button[2dc8_6101,a] or joystick_button[045e_028e,a]
input_map[ui_up] keyboard[0,up] or joystick_digital[2dc8_6101,1,1,1] or joystick_digital[045e_028e,0,1,1]
