dir_rom /home/pi/RetroPie/roms/mame-advmame:/home/pi/RetroPie/roms/arcade:/home/pi/RetroPie/roms/arcade/-ALL-
display_artwork_backdrop no
display_artwork_bezel no
display_artwork_crop no
display_artwork_magnify 1
display_artwork_overlay no
display_expand 1.0
misc_safequit no

cotton2/display_magnify 3
cottonbm/display_magnify 3
grdforce/display_magnify 3
groovef/display_magnify 2
hanagumi/display_magnify 3
hdrivair/display_magnify 2
maruchan/display_magnify 3
mausuke/display_magnify 2
puyosun/display_magnify 3
rsgun/display_magnify 3
shienryu/display_magnify 2
strtdriv/display_magnify 2
sokyugrt/display_magnify 3
thunt/display_magnify 3
