core_options_path = "/opt/retropie/configs/c64/retroarch-core-options.cfg"
input_overlay = "/opt/retropie/configs/all/retroarch/overlay/c64.cfg
input_overlay_opacity = "1.000000"

# Commodore 64 is special in that it's an actual computer whereas most systems
# are just consoles.  As a result, we want to have the keyboard act like a real
# keyboard.  When certain retropad buttons are set to actual keys, it makes it
# impossible(?) to press certain keys in games even with the `vice_physical_keyboard_pass_through`
# core option set.
# 
# The strategy here is to assume that when using a keyboard, we actually want the
# keys to behave like the keyboard.  As a result, all key binds get reset *except*
# for a handful that are either the exact button you would press on the keyboard
# (up, down, left, right) or are needed to represent a button on the joystick.

# Reset unnecessary key bindings
input_player1_a = "nul"
input_player1_y = "nul"
input_player1_x = "nul"
input_player1_select = "nul"
input_player1_start = "nul"
input_player1_l = "nul"
input_player1_r = "nul"
input_player1_l2 = "nul"
input_player1_r2 = "nul"
input_player1_lr = "nul"
input_player1_r3 = "nul"

# Joystick FIRE button
input_player1_b = "alt"

# Keep the same
# input_player1_left
# input_player1_right
# input_player1_up
# input_player1_down

# Below based on C64 Dreams configuration

# The speed cap for fast-forward; 10 is useful because it acts as a capped alternative to warp (which is likely to far exceed 10x depending on your hardware)
fastforward_ratio = "10.000000"