<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Mouse Button 1 (left click) -->
    <add key="ButtonTrigger" value="1" />
    <!-- Mouse Button 3 (right click) -->
    <add key="ButtonPumpAction" value="3" />

    <!-- Match same as above, except trigger is Pump Action -->
    <add key="ButtonTriggerOffscreen" value="3" />
    <add key="ButtonPumpActionOffscreen" value="3" />
  </appSettings>
</configuration>
