<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SerialPortWrite" value="/dev/ttyACM1"/>

    <!-- Mouse Button 1 (left click) -->
    <add key="ButtonTrigger" value="1" />
    <!-- Mouse Button 3 (right click) -->
    <add key="ButtonPumpAction" value="3" />

    <!-- Set up to match Keyboard -->
    <add key="ButtonFrontLeft" value="14" /> <!-- a (6) -->
    <add key="ButtonRearLeft" value="15" /> <!-- b (7) -->
    <add key="ButtonFrontRight" value="16" /> <!-- start (8) -->
    <add key="ButtonRearRight" value="17" /> <!-- select (9) -->
    <add key="ButtonUp" value="61" /> <!-- up (r) -->
    <add key="ButtonDown" value="49" /> <!-- down (f) -->
    <add key="ButtonLeft" value="47" /> <!-- left (d) -->
    <add key="ButtonRight" value="50" /> <!-- right (g) -->

    <!-- Match same as above, except trigger is Pump Action -->
    <add key="ButtonTriggerOffscreen" value="3" />
    <add key="ButtonPumpActionOffscreen" value="3" />
    <add key="ButtonFrontLeftOffscreen" value="14" />
    <add key="ButtonRearLeftOffscreen" value="15" />
    <add key="ButtonFrontRightOffscreen" value="16" />
    <add key="ButtonRearRightOffscreen" value="17" />
    <add key="ButtonUpOffscreen" value="61" />
    <add key="ButtonDownOffscreen" value="49" />
    <add key="ButtonLeftOffscreen" value="47" />
    <add key="ButtonRightOffscreen" value="50" />
  </appSettings>
</configuration>
