[Unit]
Description=Keep an ssh tunnel open
After=network-online.target

[Service]
Type=forking
User=pi
Environment=AUTOSSH_LOGFILE=/var/log/autossh/default.log AUTOSSH_PIDFILE=/var/run/autossh.default.pid
EnvironmentFile=/etc/autossh/default.conf
PIDFile=/var/run/autossh.default.pid
ExecStart=/usr/bin/autossh $SSH_OPTIONS $TARGET_HOST $FORWARDS
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
EOF
