# Disable popups
menu_enable_widgets = "false"

# https://github.com/libretro/RetroArch/pull/12515
# TODO: remove in retroarch 1.9.5 release
audio_driver = "alsathread"

# Protect against accidentally leaving the game
quit_press_twice = "true"

# Auto-save in-game "memory cards" (SRAM).  Note this is different than save states,
# which effectively represent a snapshot of the emulator's memory.
# 
# Setting this too low may cause hardware degradation.
autosave_interval = "60"
