@page {
  margin: 0.25in;
  size: letter;
}

html {
  width: 100%;
}

body {
  color: #000;
}

/* Game List */
#gamelist {
  font-size: 8px;
  line-height: 1;
}

#gamelist table {
  table-layout: fixed;
  width: 100%;
  border-right: none;
  border-bottom: none;
}

#gamelist table th,
#gamelist table td {
  padding: 0 2px;
}

#gamelist th {
  border-left: none;
}

#gamelist td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: none;
}

#gamelist td:nth-of-type(5) {
  border-left: 1px solid #ddd;
}

/* System */
#gamelist .system {
  width: 85px;
}

/* Title */
#gamelist .title {
  width: 178px;
}

/* Num Players */
#gamelist .players {
  width: 15px;
  text-align: center;
}

#gamelist th.players {
  font-size: 6px;
  color: transparent;
  text-shadow: 0 0 0 #000;
  -webkit-print-color-adjust: exact;
  -webkit-filter: opacity(1);
}

/* Genres */
#gamelist .genres {
  width: 100px;
}
