@page {
  margin: 0;
  size: 480px 672px;
}

html {
  width: 460px;
  height: 652px;
  margin: 10px;
  overflow: hidden;
}

body {
  line-height: 1.4;
}

p {
  margin: 15px 0;
}

#intro {
  font-size: 17px;
}

#intro #triforce {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  background-image: url(../images/zelda-triforce.svg);
  background-size: 180px 180px;
}
