@page {
  margin: 0;
  size: 480px 672px;
}

html {
  width: 460px;
  height: 652px;
  margin: 10px;
  overflow: hidden;
}

body {
  color: #000;
  line-height: 1.4;
}

p {
  padding-top: 15px;
}

#intro {
  font-size: 17px;
}

#logo {
  float: left;
  display: block;
  width: 150px;
  height: 150px;
  margin-right: 10px;
}
