@page {
  margin: 0;
  size: 480px 672px;
}

html {
  width: 460px;
  height: 652px;
  margin: 10px;
  overflow: hidden;
}

body {
  line-height: 1.4;
}

p {
  margin: 15px 0;
}

#intro {
  font-size: 17px;
}

#logo {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
