@page {
  margin: 0;
  padding: 0;
  size: 1920px 1080px;
}

html {
  width: 1880px;
  height: 1040px;
  margin: 20px;
  overflow: hidden;
  font-size: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1.7;
  margin: auto;
  background: #fefefe;
  color: #444;
  font-family: Roboto, "Helvetica Neue", Arial;
  font-size: 26px;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

b, strong {
  font-weight: bold;
}

img {
  border: 0;
  vertical-align: middle;
}

table {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  padding: 0 12px;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  text-align: center;
}

table td {
  padding: 0 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
  text-align: center;
}

#info {
  float: left;
  width: 50%;
  height: 100%;
}

#info-system {
  margin-bottom:  15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #eee;
}

#system-overview,
#system-features {
  display: inline-block;
  vertical-align: top;
}

#system-overview {
  width: 500px;
}

#system-overview img {
  display: block;
  max-height: 160px;
  margin: 0 auto 5px;
}

#system-overview p {
  line-height: 1.3;
}

#system-features {
  margin-left: 50px;
}

#system-features table {
  margin-top: 5px;
}

#info-usage {
  clear: left;
  text-align: center;
}

#info-usage img {
  height: 60px;
}

#info-usage table {
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
}

#usage-keyboard table:nth-of-type(2) tr td:nth-of-type(1) {
  border-left: none;
}

#info-usage td {
  vertical-align: middle;
  height: 60px;
}

#usage-hotkeys,
#usage-keyboard {
  display: inline-block;
  vertical-align: top;
}

#usage-hotkeys {
  margin-left: 30px;
}

#controllers {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
}

#controller-system {
  margin-bottom: 25px;
}

#controller-system img {
  max-height: 300px;
}

#controller-retropad {
  margin-top: 5px;
  padding: 20px;
}

#controller-retropad img {
  max-height: 600px;
}

#controller-retropad:only-child img {
  max-height: 1000px;
}

#controller-mappings img {
  height: 60px;
}

#controller-mappings td {
  height: 60px;
  vertical-align: middle;
}

#controller-mappings table:nth-of-type(2) tr td:nth-of-type(1) {
  border-left: none;
}

#controller-mappings {
  padding: 20px;
}

#controller-mappings table {
  display: inline-block;
  vertical-align: top;
}

#info-overview {
  border-bottom: 2px solid #eee;
}

/* System-specific overrides */
#system-arcade #controller-description {
  width: 600px;
  height: 350px;
  margin: 30px auto 0;
  padding: 65px 116px;
  border-style: groove;
  border-width: 10px;
  background: black;
}

#system-arcade #controller-description-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

#system-arcade img.button {
  position: absolute;
  max-width: 140px;
}

#system-arcade span.description {
  position: absolute;
  display: block;
  max-width: 350px;
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  z-index: 1;
}

#system-arcade .button-top1 {
  top: 0;
  left: 0;
  transform: translate(0, 50%);
}

#system-arcade span.button-top1 {
  transform: translate(-50%, 60px) translate(70px, 0px);
}

#system-arcade .button-top2 {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#system-arcade span.button-top2 {
  width: 100%;
  max-width: 100%;
}

#system-arcade .button-top3 {
  top: 0;
  right: 0;
  transform: translate(0, 50%);
}

#system-arcade span.button-top3 {
  transform: translate(50%, 60px) translate(-70px, 0px);
}

#system-arcade .button-bottom1 {
  bottom: 0;
  left: 0;
}

#system-arcade span.button-bottom1 {
  transform: translate(-50%, -88px) translate(70px, 0px);
}

#system-arcade .button-bottom2 {
  width: 100%;
  max-width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#system-arcade span.button-bottom2 {
  width: 100%;
  bottom: 132px;
}

#system-arcade .button-bottom3 {
  bottom: 0;
  right: 0;
}

#system-arcade span.button-bottom3 {
  transform: translate(50%, -88px) translate(-70px, 0px);
}
