@page {
  size: 1920px 1080px;
}

html {
  width: 1880px;
  height: 1040px;
  margin: 20px;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background: #fefefe;
  font-size: 26px;
}

table th {
  padding: 0 12px;
  text-align: center;
}

table td {
  padding: 0 8px;
  text-align: center;
}

#info {
  float: left;
  width: 50%;
  height: 100%;
}

#info-system {
  margin-bottom:  15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #eee;
}

#system-overview,
#system-features {
  display: inline-block;
  vertical-align: top;
}

#system-overview {
  width: 500px;
}

#system-overview img {
  display: block;
  max-height: 160px;
  margin: 0 auto 5px;
}

#system-overview p {
  line-height: 1.3;
}

#system-features {
  margin-left: 50px;
}

#system-features table {
  margin-top: 5px;
}

#info-usage {
  clear: left;
  text-align: center;
}

#info-usage img {
  height: 60px;
}

#info-usage table {
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
}

#usage-keyboard table:nth-of-type(2) tr td:nth-of-type(1) {
  border-left: none;
}

#info-usage td {
  vertical-align: middle;
  height: 60px;
}

#usage-hotkeys,
#usage-keyboard {
  display: inline-block;
  vertical-align: top;
}

#usage-hotkeys {
  margin-left: 25px;
}

#controllers {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
}

#controller-system {
  margin-bottom: 25px;
}

#controller-system img {
  max-height: 300px;
}

#controller-retropad {
  margin-top: 5px;
  padding: 20px;
}

#controller-retropad img {
  max-height: 600px;
}

#controller-retropad:only-child img {
  max-height: 1000px;
}

#controllers div:nth-child(1):nth-last-child(3) img {
  max-height: 150px;
}

#controllers div:nth-child(2):nth-last-child(2) img {
  max-height: 400px;
}

#controller-mappings img {
  height: 60px;
}

#controller-mappings td {
  height: 60px;
  vertical-align: middle;
}

#controller-mappings table:nth-of-type(2) tr td:nth-of-type(1) {
  border-left: none;
}

#controller-mappings {
  padding: 20px;
}

#controller-mappings table {
  display: inline-block;
  vertical-align: top;
}

#info-overview {
  border-bottom: 2px solid #eee;
}

/* System-specific overrides */
#system-retropie #controller-retropad img {
  max-height: 400px;
}

#system-arcade #controller-retropad {
  margin: 0;
  padding: 0;
}

#system-arcade #controller-retropad-html {
  width: 600px;
  height: 350px;
  margin: 75px auto;
  padding: 20px;
  border-style: groove;
  border-width: 6px;
  background: #ddd;
}

#system-arcade #controller-retropad-buttons {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Position Containers */
#system-arcade #controller-retropad .position-container {
  position: absolute;
  display: block;
  width: 238px;
  margin: 0;
  padding: 0;
}

/* Info Boxes */
#system-arcade #controller-retropad .info {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  border: 3px solid #7a7a7a;
  border-radius: 10px;
  max-width: 100%;
  min-height: 48px;
  text-align: left;
  line-height: 1;
  color: #777777;
  font-size: 26px;
  font-weight: bold;
}

/* Info Box - RetroPad Button Names */
#system-arcade #controller-retropad .info .name {
  display: block;
  width: 60px;
  height: 60px;
  min-width: 60px;
  color: transparent;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: 0 0;
}
#system-arcade #controller-retropad .info .name-A {
  background-image: url(../images/retropad/retro_a.png);
}
#system-arcade #controller-retropad .info .name-B {
  background-image: url(../images/retropad/retro_b.png);
}
#system-arcade #controller-retropad .info .name-X {
  background-image: url(../images/retropad/retro_x.png);
}
#system-arcade #controller-retropad .info .name-Y {
  background-image: url(../images/retropad/retro_y.png);
}
#system-arcade #controller-retropad .info .name-L {
  background-image: url(../images/retropad/retro_l1.png);
}
#system-arcade #controller-retropad .info .name-R {
  background-image: url(../images/retropad/retro_r1.png);
}
#system-arcade #controller-retropad .info .name-L2 {
  background-image: url(../images/retropad/retro_l2.png);
}
#system-arcade #controller-retropad .info .name-R2 {
  background-image: url(../images/retropad/retro_r2.png);
}

/* Info Box - Actions */
#system-arcade #controller-retropad .info .action {
  display: block;
  vertical-align: middle;
  padding: 0 9px 0 3px;
}

/* Connectors */
#system-arcade #controller-retropad .connector {
  position: absolute;
  display: block;
  width: 6px;
  background: black;
}

#system-arcade #controller-retropad .dot {
  position: absolute;
  display: block;
  height: 26px;
  width: 26px;
  background-color: #000;
  border-radius: 50%;
}

/* Button Image */
#system-arcade #controller-retropad .button {
  display: block;
  background-color: #949493;
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin: 0;
  border-radius: 50%;
  border: 2px solid #666;
  border-bottom: 7px solid #666;
}

#system-arcade #controller-retropad .button-enabled {
  background-color: #00973e;
}

/* Position: Top */
#system-arcade #controller-retropad .position-row-top {
  top: 0;
}

#system-arcade #controller-retropad .position-row-top .info {
  bottom: 131px;
  transform: translate(-50%, 0) translate(60px, 0);
}

#system-arcade #controller-retropad .position-row-top .connector {
  height: 67px;
  bottom: 0;
  transform: translate(-2px, 100%) translate(0, 2px);
  left: 50%;
}

#system-arcade #controller-retropad .position-row-top .dot {
  bottom: 0;
  transform: translate(-10px, 10px);
}

/* Position: Left Column */
#system-arcade #controller-retropad .position-column-1 {
  left: 0;
}

/* Position: Middle Column */
#system-arcade #controller-retropad .position-column-2 {
  left: 50%;
}

/* Position: Right Column */
#system-arcade #controller-retropad .position-column-3 {
  left: 100%;
}

/* Position: Top-Left */
#system-arcade #controller-retropad .position-top1 {
  transform: translate(0, 50%);
}

/* Position: Top-Middle */
#system-arcade #controller-retropad .position-top2 {
  transform: translate(-60px, 0);
}

/* Position: Top-Right */
#system-arcade #controller-retropad .position-top3 {
  transform: translate(-120px, 50%);
}

/* Position: Bottom */
#system-arcade #controller-retropad .position-row-bottom {
  bottom: 0;
}

#system-arcade #controller-retropad .position-row-bottom .info {
  top: 131px;
  transform: translate(-50%, 0) translate(60px, 0);
}

#system-arcade #controller-retropad .position-row-bottom .connector {
  height: 73px;
  top: 0;
  transform: translate(-2px, -100%) translate(0, -2px);
  left: 50%;
}

#system-arcade #controller-retropad .position-row-bottom .dot {
  top: 0;
  transform: translate(-10px, -10px);
}

/* Position: Bottom-Middle */
#system-arcade #controller-retropad .position-bottom2 {
  transform: translate(-60px, -50%);
}

/* Position: Bottom-Right */
#system-arcade #controller-retropad .position-bottom3 {
  transform: translate(-120px, 0);
}
