[Video-General]
# Disable stretching to maintain the game's original aspect ratio
AspectRatio = 1

[Video-GLideN64]
EnableHWLighting = True
EnableNoise = True
txDump = False
txHiresEnable = True
txReloadHiresTex = False
UseNativeResolutionFactor = 2

[Video-Rice]
FrameBufferWriteBackControl = 0
InN64Resolution = True
ScreenUpdateSetting = 7

[CoreEvents]
# Disable keyboard-based binds that are rarely used and can cause confusion
# when accidentally pressed
#
# Excludes:
# * Stop (default: Esc)
Kbd Mapping Slot 0 = 0
Kbd Mapping Slot 1 = 0
Kbd Mapping Slot 2 = 0
Kbd Mapping Slot 3 = 0
Kbd Mapping Slot 4 = 0
Kbd Mapping Slot 5 = 0
Kbd Mapping Slot 6 = 0
Kbd Mapping Slot 7 = 0
Kbd Mapping Slot 8 = 0
Kbd Mapping Slot 9 = 0
Kbd Mapping Fullscreen = 0
Kbd Mapping Save State = 0
Kbd Mapping Load State = 0
Kbd Mapping Increment Slot = 0
Kbd Mapping Reset = 0
Kbd Mapping Speed Down = 0
Kbd Mapping Speed Up = 0
Kbd Mapping Screenshot = 0
Kbd Mapping Pause = 0
Kbd Mapping Mute = 0
Kbd Mapping Increase Volume = 0
Kbd Mapping Decrease Volume = 0
Kbd Mapping Fast Forward = 0
Kbd Mapping Frame Advance = 0
Kbd Mapping Gameshark = 0
