[Unit]
Description=RetroFlag safe shutdown
After=rc-local.service

[Service]
Type=simple
ExecStart=python3 /opt/RetroFlag/safe_shutdown.py
TimeoutSec=0

[Install]
WantedBy=multi-user.target
