<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <base href="{{hrefs.base}}" />
  <link rel="stylesheet" href="{{hrefs.common_stylesheet}}" />
  <link rel="stylesheet" href="{{hrefs.page_stylesheet}}" />
</head>

<body id="intro">
<p>
Welcome to retrokit.
</p>

</body>
</html>
