<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <base href="{{hrefs.base}}" />
  <link rel="stylesheet" href="{{hrefs.common_stylesheet}}" />
  <link rel="stylesheet" href="{{hrefs.page_stylesheet}}" />
</head>

<body id="intro">
<div id="triforce"></div>

<p>
Link, it is I, <em>Sahasrahla</em>, the village elder and a descendent of the
seven wise men.
</p>

<p>
I am communicating to you across the void through telepathy.
</p>

<p>
The place where you now stand was the Golden Land, but evil power turned it
into the Dark World. The wizard has broken the wise men's seal and opened a gate
to link the worlds at Hyrule Castle. In order to save this half of the world,
the Light World, you must win back the Golden Power.
</p>

<p>
Link, I can rely on only you. Please make this old man's wishes come true.
I beg you!
</p>

<p>
The only weapon potent enough to defeat the wizard lies within the boxes
in front of you.  This is a treasure passed down by the families of the wise
men. I want you to have it.
</p>

<p>
Watch your every move! I am certain that the castle soldiers will be looking
for you now!
</p>

</body>
</html>
