<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <base href="{{hrefs.base}}" />
  <link rel="stylesheet" href="{{hrefs.common_stylesheet}}" />
  <link rel="stylesheet" href="{{hrefs.page_stylesheet}}" />
</head>

<body id="intro">
<img id="logo" src="images/logo.png" />
<p>
Congratulations! You are now the proud owner of a piece of gaming history.
What started off as a fun project evolved into an obsession to build the
best experience I could to help bring us back to our childhood.
</p>

<p>
This project has involved significant development and testing to build a system
that brings together all the elements of gaming to your fingertips: extensive libraries,
manuals, per-game emulator configuration and optimization, system guides,
overlays / splash screens / themes, cheats, and so much more that I could never
possibly cover it all here.
</p>

<p>
Half of this project involved manually reading through and cataloguing 15,000+
manuals so that you can not only play the games you loved, but remember how to
play them too!
</p>

<p>
This system has been built with love and passion for well over a year with
countless late nights and long weekends.  I hope this brings back memories
you can share with your friends and family.
</p>

<p>
Please enjoy.
</p>

</body>
</html>
